body{
   position: absolute;
}
*{
    margin: 0%;
   
   box-sizing: border-box;
   
}
html,body{
   margin: 0%;
   padding: 0%;
   overflow-x: hidden;
}

.first-page{
   height: 150vh;
   width: 100vw;
 background-image: linear-gradient(#478ac9, #db545a);
 background-attachment: fixed;
 display:grid;
 grid-template-columns:13vw 37vw 50vw;
 grid-template-rows: 100vh 50vh;

}
.fp-sec1{
 grid-row-start: 1;
 grid-row-end: 2;
 grid-column-start: 2;
 grid-column-end: 3;
 display: flex;
 flex-direction: column;
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 align-items: center;
 justify-content: center;
}
.dining{
 color:  #db545a;
 font-size: 5.6vw;
 font-weight: lighter;

}
.on-the{
    color:rgb(27, 27, 27);
 font-size: 5.6vw;
 font-weight: lighter;
 margin-bottom: 15px;
}
.fp-sec1 span{
    color:rgb(38, 38, 38);
    line-height: 2;
    font-size:1.2vw;
    word-spacing: 2px;
    font-weight: lighter;
}
.butt-menue{
    padding:1vw 1.3vw;
    font-size: 1.3vw;
    background-color: #db545a;
    text-align: center;
    width: 15vw;
    border-radius: 25px;
    margin-top: 3vw;
    margin-bottom: 5vw;
}
.butt-menue a{
    text-decoration: none;
    color: aliceblue;
    font-weight: 700;
}
.butt-menue:hover{
    background-color: rgb(31, 31, 31);
}
.fp-sec2{
 grid-row-start: 1;
 grid-row-end: 2;
 grid-column-start: 3;
 grid-column-end: 4;
 
}
.container{
    position: relative;
    top: 10%;
}
.shape{
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%,50%);
    border-radius: 80% 20% 32% 68%/58% 22% 78% 42%;
    height: 26vw;
    width: 38vw;
    background-color: #db545a;
    z-index: 1;
    animation: animshape 2s linear 0s 1 alternate ;
    }
    @keyframes animshape {
        from{
            opacity: 0;
        }
        to{
            opacity:1;
        }
    }
.container-img img{
    width: 34vw;
    height: 34vw;
    border-radius: 100%;
    position: absolute;
    top: 10%;
    left: 6%;
    z-index: 2;
    object-fit: cover;
    animation: animimg 2s ease-out 0s 1 alternate ;
}
@keyframes animimg {
    from{
        left: 50%;
        opacity: 0;
    }
    to{
        left:6%;
        opacity: 1;
    }
}
.fp-sec3{
    display: flex;
    justify-content: center;
    grid-row-start: 2;
 grid-row-end: 3;
 grid-column-start: 1;
 grid-column-end: 4;
}
.fp-sec3 img{
    margin: 0.5vw;
    width: 19vw;
    height: 19vw;
    transition: 1s;
}
.fp-sec3 img:hover{ 
    transform: scale(1.05);
}
.second-page{
    width: 100vw;
    height: 120vh;
    background-color: rgb(225, 225, 225);
}
.sec-page-c1{
    background-color: #db545a;
    border-radius: 100%;
    width: 14.5vw;
    height: 14.5vw;
    position: relative;
    left: 68.5vw;
    top: 4.6vw;
    animation: animc1 2s ease-out 0s 1 alternate ;
}
@keyframes animc1 {
    from{
        left: 98.5vw;
    }
    to{
        left: 68.5vw;
    }
    
}
.sec-page-c2 img{
    background-color: #000000;
    width: 37.5vw;
    height: 31.5vw;
    position: relative;
    left: 38vw;
    /* top: -2.5vw; */
}
.sec-page-c3{
    background-color: #ffffff;
    width: 25.5vw;
    height: 30.5vw;
    position: relative;
    left: 17vw;
    top: -27.5vw;
    padding: 3.5% 2%;
}
.sec-page-c3 span{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 4vw;
   font-weight: 700;
   margin: 2px;
   color: #121212;
}
.sec-page-c3 p{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.3vw;
    font-weight: 300;
    margin: 20px;
    color: #121212;
    line-height: 1.6;
}
.sec-page-c3 a{
    margin: 20px;
    padding:0.9vw 2.3vw;
    font-size: 1.3vw;
    background-color: #db545a;
    text-align: center;
    width: 17vw;
    border-radius: 25px;
    margin-top: 3vw;
    margin-bottom: 5vw;
    text-decoration: none;
    color: aliceblue;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;

}
.sec-page-c3 a:hover{
    background-color: rgb(31, 31, 31);
    
}
.third-page{
    height: 150vh;
    width: 100vw;
  background-image:url(images/3dbbfc27-2034-7e1f-94e0-feb094761951.jpg);
  
  display: grid;
  grid-template-rows: 50vh 100vh;
}
.third-page img{
   object-fit: cover;
   overflow: hidden;
   height: 120vh;
   width: 100vw;
 
}
.third-page-c1{
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.third-box{
    flex-basis: 25vw;
    height: 46vh;
    background-color:#3c3c3c69;
    margin: 10px;
    margin-bottom: 0%;
    padding: 2vw;
    display: flex;
    flex-direction: column;
}
.thirdbox-head{
    height: 13vh;
    width: 100%;
    display: flex;
}
.thirdbox-body{
 height: 30vh;
 width: 100%;
}
.head-3{
    background-color: #db545a;
    color: wheat;
    font-family: cursive;
    font-size: 2vw;
    border-radius: 100%;
    height: 12vh;
    width: 12vh;
    text-align: center;
    padding: 3vh;
    font-weight: 700;
}
.head-d{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.8vw;
    padding: 3vh;
}
.thirdbox-body{
    
    color:  #b3b3b3;
    font-size: 1.23vw;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 2vh;
}
.thirdbox-body a{
    color:  #b3b3b3;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.thirdbox-body p{
    padding: 1vh;
}
.fourthpage{
    height: 180vh;
    width: 100vw;
    background-color: #e5e5e5;
    
}
.fourthanim{
    width: 9.5vw;
    height: 9.5vw;
    background-color: #db545a;
    border-radius: 100%;
    position: relative;
    left: 75.5vw;
    top: 10.7vh;
}
.fourth-img img{
    width: 56vw;
    height: 41vw;
    position:relative;
    left: 19%;
    top: 7vw;
    object-fit:cover;
    z-index: 2;
}
.fourthannim2{
    background-color: #db545a;
    width: 87%;
    height: 82vh;
    position: relative;
    left: 13%;
    top: -21vw;
   z-index: 1;
}
.fourth-content{
    background-color: white;
    width: 36vw;
    height: 33vw;
    z-index: 3;
    position:relative;
    top:-50% ;
    left:51% ;
    display: flex;
    flex-direction: column;
    color: #111111;
    padding: 2%;
    padding-top: 5%;
   
}
.fourth-content h1{
    font-size: 3.5vw;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 630;
    margin-bottom: 3%;

}
.fourth-content p{
    font-size: 1.2vw;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 380;
    margin-bottom: 3%;
    line-height: 1.7;
   
}
.fourth-content a{
    font-size: 1.5vw;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    width: 50%;
    padding: 3%;
    background-color: #db545a;
    border-radius: 30px;
    font-weight: 500;
margin-top: 10%;
text-align: center;
}
.fourth-content a:hover{
    background-color: #121212;

}
.fifth-page{
    width: 100vw;
    height: 93vh;
    background-image: url(images/3007283.jpg);
    background-size: cover;
    overflow: visible;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.fifth-ele1{
    color: white;
    font-weight: 600;
    position: relative;
    left:14.5%;
    top:27.5%;
    font-size: 1.5vw;
    font-family:Arial, Helvetica, sans-serif;
    letter-spacing: 3px;
}
.fifth-ele2{
    font-size: 6vw;
    color: white;
    font-family:serif;
    position: relative;
    left:14.5%;
    top:31.5%;
    font-weight: 800;
}
.fifth-ele3{
    position: relative;
    left:14.5%;
    top:33.5%;
}
.sixth-page{
  height: 150vh;
  width: 100vw;
 background-image:linear-gradient(#478ac9, #db545a) ;
 background-attachment:fixed;
 display: flex;
 flex-direction: column;
 align-items: center;
}
.sixth-page h1{
    font-size: 3vw;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 100;
    margin-top: 8vh;

}
.sixth-page p{
    text-align: center;
    margin-top: 4vh;
    font-size: 1.2vw;
    width: 50vw;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.sixthpage-box{
    margin-top: 3vw;
    display: flex;
    width: 74vw;
    height:auto;
    flex-wrap: wrap;
    gap: 1vw;
   
   
}
.burger-cont{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    width: 54%;
    height: 100%;
    background-color: #00000094;
    font-size: 1vw;
}
.burger-cont h6{
    font-size: 1.8vw;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;

}
.burger-cont p{
    font-size: 1.5vw;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:#e68387;
    font-weight: 700;

}
.burger-cont a{
    font-size: 1vw;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   background-color:#d44d54;
    color:#ffffff;
    font-weight: 700;
    padding: 4%;
    border-radius: 30px;
    width: 10vw;
    text-decoration: none;
    margin-top: 7%;
    text-align: center;
    transition: 2s;

}
.burger-cont a:hover{
    background-color: #d17073;
}
.six-box-burger1{
    flex-basis:530px ;
    height: 36vh;
    background-image: url(images/3.jpg);
    background-size: cover;
    background-position: 55% 55%;
    max-width:530px ;
}
.six-box-burger2{
    flex-basis:530px ;
    height: 36vh;
    background-image: url(images/4.jpg);
    background-size: cover;
    background-position: 55% 55%; 
    max-width:530px ;
}
.six-box-burger3{
    flex-basis:530px ;
    height: 36vh;
    background-image: url(images/5.jpg);
    background-size: cover;
    background-position: 55% 55%;
    max-width:530px ;
}
.six-box-burger4{
    max-width:530px ;
    flex-basis:530px ;
    height: 36vh;
    background-image: url(images/6.jpg);
    background-size: cover;
    background-position: 55% 55%;
}
.six-box-burger5{
    flex-basis:530px ;
    height: 36vh;
    background-image: url(images/7.jpg);
    background-size: cover;
    background-position: 55% 55%;
    max-width:530px ;
}
.six-box-burger6{
    max-width:530px ;
    flex-basis:530px ;
    height: 36vh;
    background-image: url(images/8.jpg);
    background-size: cover;
    background-position: 55% 55%;
}
.seventh-page{
    width: 100vw;
    height: 100vh;
    background-image: url(images/6197-min.jpg);
    background-position: 50% 50%;
    background-size: cover;
}
.eighth-page{
    width: 100vw;
    height: 160vh;
    background-image: linear-gradient(#478ac9, #db545a);
    background-attachment: fixed;
}
.eig-circ{
    width: 15vw;
    height: 15vw;
    background-color: #db545a;
    border-radius: 100%;
    position: relative;
    top: 7%;
    left: 75%;
    z-index: 1;
}
.eig-cont{
    position: relative;
    top:-3.5% ;
    left: 45.5%;
    padding-left:8%;
    padding-right: 4%;
    height: 36.5vw;
    background-color:#e5e5e5 ;
    zindex: 2;
}
.eig-cont h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 3vw;
    font-weight: 800;
    word-spacing: 2vw;
}
.eig-cont a{
  font-size: 1.3vw;
}
.eighth-page img{
    width: 35vw;
    height: 35vw;
    border-radius: 100%;
    position: relative;
    top: -63%;
    left: 17%;
    z-index: 5;
}
.eig-img {
    width: 20vw;
    height: 20vw;
    border-radius: 100%;
    border: 0.4vw solid white;
   position: relative;
    top: -71%;
    left:13% ;
    background-color: #d44d54;
    z-index: 100;
    background-image: url(images/high.jpg);background-position: 50% 50%;
    background-size: cover;

}
.lastpage{
    width: 100vw;
    height: 90vh;
    background-color:#1a1a1a;
}
.lastpage-main{
    height: 100%;
    width: 80%;
    margin: auto;
    
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 3vw;
}

.lastp-img {
    width: 17%;
    height: 100%;
    background-color: #db545a;
    display: flex;
    align-items: center;
    z-index: 1;
}

.last-img-bg1{
    min-width:29vw;
    height: 70vh;
    background-image: url(images/fgfg54-min.jpg);
    background-size:cover;
    background-position: 50% 50%;

    position: relative;
    left: -130%;
    z-index: 2;
  overflow-x: auto;
}
.lastpage-right{
    width: 60%;
    height: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.last-right-1{
    text-align: center;
    color: white;
    
}
.last-right-1 h4{
    font-size: 3.4vw;
    font-weight: 100;
    letter-spacing: 2px;
}
.last-right-1 p{
    font-size: 1.3vw;
    font-weight: 100;
    letter-spacing: 0px;   
    margin: 5px;
    margin-bottom: 4vw;
}
.email{
    width: 26vw;
    height: 8vh;
    outline: none;
    margin-right: 1vw;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.2vw;
}
.email:focus{
    outline: none;
}
.submit{
    padding:0.9vw 2vw;
background-color: #d44d54; 
color: white;
font-size: 1.5vw;
outline: none;
border: none;
}
.last-right-2{
    margin-top: 5vw;
    display: flex;
    gap: 5vw;
}
.right21{
    width:20vw;
    height: auto;
    color: white;
    text-align: right;
    
}
.right21 span{
  letter-spacing: 0.5vw;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1.5vw;
  font-weight: bolder;
  
}
#lp21{
    margin-top: 8%;
}
.right21 p{
    font-size: 1.3vw;
    margin: 5px;
    font-weight: lighter;
}
.right22{
    width:20vw;
    height: 30vh;
    color: #e5e5e5;
    letter-spacing: 0.5vw;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.5vw;
    font-weight: bolder;
}
.right22 span{
    letter-spacing: 0vw;
    font-size: 1vw;

}
@media  only screen and (max-width:820px) {
    .first-page {
        height: 150vh;
        width: 100vw;
        background-image: linear-gradient(#478ac9, #db545a);
        background-attachment: fixed;
        display: grid;
        grid-template-columns: 13vw 37vw 50vw;
        grid-template-rows: 100vh 50vh;
    }
    .fp-sec1 span {
        color: rgb(38, 38, 38);
        line-height: 2;
        font-size: 15px;
        word-spacing: 2px;
        font-weight: lighter;
    }
    .butt-menue {
        padding: 2vw 1.3vw;
        font-size: 2.3vw;
        background-color: #db545a;
        text-align: center;
        width: 21vw;
        border-radius: 25px;
        margin-top: 10vw;
        margin-bottom: 2vw;
    }
    .second-page {
        width: 100vw;
        height: 110vh;
        background-color: rgb(225, 225, 225);
    }
    .sec-page-c1 {
        background-color: #db545a;
        border-radius: 100%;
        width: 21.5vw;
        height: 21.5vw;
        position: relative;
        left: 68.5vw;
        top: 12.6vw;
        animation: animc1 2s ease-out 0s 1 alternate;
    }
    .sec-page-c2 img {
        background-color: #000000;
        width: 44.5vw;
        height: 44.5vw;
        position: relative;
        left: 33vw;
        top: 5.5vw;
    }
    .sec-page-c3 {
        background-color: #ffffff;
        width: 37.5vw;
        height: 46.5vw;
        font-weight: 700;
        position: relative;
        left: 11vw;
        top: -17.5vw;
        padding: 2.5% 2%;
    }
    .sec-page-c3 p {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 1.9vw;
        font-weight: 600;
        margin: 20px;
        color: #121212;
        line-height: 1.6;
        margin-bottom: 3vw;
    }
    .third-box {
        flex-basis: 45vw;
        height: 28vh;
        background-color: #3c3c3c69;
        margin: 10px;
        margin-bottom: 0%;
        padding: 2vw;
        display: flex;
        flex-direction: column;
    }
    .thirdbox-body {
        color: #b3b3b3;
        font-size: 1.7vw;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        padding: 2vh;
    }
    .thirdbox-head {
        height: 9vh;
        width: 100%;
        display: flex;
    }
    .fourth-img img {
        width: 69vw;
        height: 54vw;
        position: relative;
        left: 5%;
        top: 7vw;
        object-fit: cover;
        z-index: 2;
    }
    .fourth-content p {
        font-size: 2vw;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 380;
        margin-bottom: 3%;
        line-height: 1.7;
    }
    .fourth-content {
        background-color: white;
        width: 40vw;
        height: 50vw;
        z-index: 3;
        position: relative;
        top: -50%;
        left: 51%;
        display: flex;
        flex-direction: column;
        color: #111111;
        padding: 2%;
        padding-top: 5%;
    }
    .sixth-page{
        height: 280vh;
    }
    .sixth-page h1{
        font-size: 5vw;
    }
    .sixth-page p {
        text-align: center;
        margin-top: 4vh;
        font-size: 2.2vw;
        width: 80vw;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .burger-cont h6 {
        font-size: 3.8vw;
    }
    
    .burger-cont a {
        font-size: 2vw;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        background-color: #d44d54;
        color: #ffffff;
        font-weight: 700;
        padding: 4%;
        border-radius: 30px;
        width: 20vw;
        text-decoration: none;
        margin-top: 7%;
        text-align: center;
        transition: 2s;
    }
    .eig-cont a {
        font-size: 2.3vw;
    }
    .eig-circ {
        width: 15vw;
        height: 15vw;
        background-color: #db545a;
        border-radius: 100%;
        position: relative;
        top: 8%;
        left: 81%;
        z-index: 1;
    }
    .eighth-page {
        width: 100vw;
        height: 130vh;
        background-image: linear-gradient(#478ac9, #db545a);
        background-attachment: fixed;
    }
    .eighth-page img {
        width: 35vw;
        height: 35vw;
        border-radius: 100%;
        position: relative;
        top: -34%;
        left: 17%;
        z-index: 5;
    }
    .eig-img {
        width: 20vw;
        height: 20vw;
        border-radius: 100%;
        border: 0.4vw solid white;
        position: relative;
        top: -42%;
        left: 13%;
        background-color: #d44d54;
        z-index: 100;
        background-image: url(images/high.jpg);
        background-position: 50% 50%;
        background-size: cover;
    }
    .eig-cont{
        top: 4%;
    }
    .email {
        width: 30vw;
        height: 6vh;
        outline: none;
        margin-right: 1vw;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 1.7vw;
    }
    .submit {
        padding: 0.9vw 2vw;
        background-color: #d44d54;
        color: white;
        font-size: 2vw;
        outline: none;
        border: none;
    }
    .last-right-1 h4 {
        font-size: 6.4vw;
        font-weight: 100;
        letter-spacing: 2px;
    }
    .last-right-1 p {
        font-size: 2.3vw;
        font-weight: 100;
        letter-spacing: 0px;
        margin: 5px;
        margin-bottom: 4vw;
    }
    .right21 span {
        letter-spacing: 0.5vw;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 2.5vw;
        font-weight: bolder;
    }
    .right21 span {
        letter-spacing: 0.5vw;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 2.5vw;
        font-weight: bolder;
    }
    .lastpage {
        width: 100vw;
        height: 84vh;
        background-color: #1a1a1a;
    }

}
@media  only screen and (max-width:500px){
   .first-page{
    height: 103vh;
    width: 100vw;
    grid-template-columns: 13vw 37vw 50vw;
    grid-template-rows: 65vh 34vh;
   }
   .fp-sec1 span {
    color: rgb(38, 38, 38);
    line-height: 1;
    font-size: 16px;
    word-spacing: 0px;
    font-weight: lighter;
}
.dining {
    color: #db545a;
    font-size: 14.6vw;
    font-weight: lighter;
}
.on-the {
    color: rgb(27, 27, 27);
    font-size: 9.6vw;
    font-weight: lighter;
    margin-bottom: 15px;
}
.fp-sec1 span {
    color: rgb(38, 38, 38);
    line-height: 1;
    font-size: 13px;
    word-spacing: 0px;
    font-weight: lighter;
}
.butt-menue {
    padding: 3vw 1.3vw;
    font-size: 4.3vw;
    background-color: #db545a;
    text-align: center;
    width: 35vw;
    border-radius: 25px;
    margin-top: 10vw;
    margin-bottom: 2vw;
}
.container-img img {
    width: 44vw;
    height: 44vw;
    top: 16%;
    left: 18%;
}
.shape{
    height: 34vw;
    width: 31vw;

}
.fp-sec3 {
    flex-wrap: wrap;
}
.fp-sec3 img {
    margin: 0.5vw;
    width: 46vw;
    height: 32vw;
    transition: 1s;
}
.sec-page-c1{
    width: 27.5vw;
    height: 27.5vw;
}
.sec-page-c2 img {
    background-color: #000000;
    width: 65.5vw;
    height: 91.5vw;
    position: relative;
    left: 19vw;
    top: 1.5vw;
}
.sec-page-c3 {
    background-color: #ffffff;
    width: 58.5vw;
    height: 80.5vw;
    font-weight: 700;
    position: relative;
    left: 7vw;
    top: -17.5vw;
    padding: 2.5% 2%;
}
.sec-page-c3 span{
    font-size: 9vw;
}
.sec-page-c3 p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2.9vw;
    font-weight: 600;
    margin: 20px;
    color: #121212;
    line-height: 1.6;
    margin-bottom: 11vw;
}
.sec-page-c3 a{
    padding: 1.9vw 9.3vw;
    font-size: 13px;
}
.third-page {
    height: 350vh;
    width: 100vw;
    background-image: url(images/3dbbfc27-2034-7e1f-94e0-feb094761951.jpg);
    display: grid;
    background-size: auto;
    grid-template-rows: 50vh 100vh;
}

.third-box {
    flex-basis: 68vw;
    height: 48vh;
    background-color: #3c3c3c69;
    margin: 10px;
    margin-bottom: 0%;
    padding: 2vw;
    display: flex;
    flex-direction: column;
}
.head-3{
    font-size: 8vw;
}
.head-d{
    font-size: 7.8vw;
}
.thirdbox-body {
    color: #b3b3b3;
    font-size: 17px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 2vh;
    margin-top: 23px;
}
.sixth-page h1 {
    font-size: 14vw;
}
.sixth-page p{
    font-size: 4.2vw;
}
.burger-cont h6 {
    font-size: 5.8vw;
}
.burger-cont a {
    font-size: 4vw;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #d44d54;
    color: #ffffff;
    font-weight: 700;
    padding: 4%;
    border-radius: 30px;
    width: 32vw;
    text-decoration: none;
    margin-top: 7%;
    text-align: center;
    transition: 2s;
}
.eighth-page{
    display: none;
}
.lastpage {
    width: 100vw;
    height: 64vh;
    background-color: #1a1a1a;
}
.last-img-bg1 {
    min-width: 36vw;
    height: 30vh;
    background-image: url(images/fgfg54-min.jpg);
    background-size: cover;
    background-position: 50% 50%;
    position: relative;
    left: -176%;
    z-index: 2;
    overflow-x: auto;
}
.last-right-1 h4 {
    font-size: 9.4vw;
    font-weight: 100;
    letter-spacing: 2px;
}
.last-right-1 p {
    font-size: 3.5vw;
    font-weight: 100;
    letter-spacing: 0px;
    margin: 5px;
    margin-bottom: 4vw;
}
.email {
    width: 52vw;
    height: 4vh;
    outline: none;
    margin-right: 1vw;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.7vw;
}
.email {
    width: 52vw;
    height: 4vh;
    outline: none;
    margin-right: 1vw;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.7vw;
}
.right21 span {
    letter-spacing: 0.5vw;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 3.5vw;
    font-weight: bolder;
}
.right21 p {
    font-size: 2.3vw;
    margin: 5px;
    font-weight: lighter;
}
.right22 {
    width: 20vw;
    height: 19vh;
    color: #e5e5e5;
    letter-spacing: 0.5vw;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 3.5vw;
    font-weight: bolder;
}
.right22 span {
    letter-spacing: 0vw;
    font-size: 2vw;
}
.last-right-2{
    flex-direction: column;
}
.fourthpage {
    height: 105vh;
    width: 100vw;
    background-color: #e5e5e5;
}
.fourth-content {
    background-color: white;
    width: 67vw;
    height: 107vw;
    z-index: 3;
    position: relative;
    top: -79%;
    left: 11%;
    display: flex;
    flex-direction: column;
    color: #111111;
    padding: 2%;
    padding-top: 5%;
}
.fourth-content h1 {
    font-size: 8.5vw;
}
.fourth-content p {
    font-size: 4vw;
}
.fourth-content a {
    font-size: 3.5vw;}
}